Plugins>pQCT, "Distribution Analysis", sc.fiji.pQCT.PqctAnalysis
Plugins>pQCT, "Export Stratec Header", sc.fiji.pQCT.ExportHeader
Plugins>pQCT, "Strip Stratec Header", sc.fiji.pQCT.StripStratecFileHeader
Plugins>pQCT, "LiveWirePLUGIN", sc.fiji.pQCT.selectroi.LiveWirePlugin
# There's Stratec support is in SCIFIO, but legacy implementation is kept until SCIFIO API stabilises
Plugins>pQCT, "Read Stratec File", sc.fiji.pQCT.ReadStratecFile