Plugins>pQCT, "Distribution Analysis", sc.fiji.pQCT.Distribution_Analysis
Plugins>pQCT, "Export Stratec Header", sc.fiji.pQCT.Export_Header
Plugins>pQCT, "Strip Stratec Header", sc.fiji.pQCT.Strip_Stratec_File_Header
Plugins>pQCT, "LiveWirePLUGIN", sc.fiji.pQCT.selectroi.LiveWirePlugin
# There's Stratec support is in SCIFIO, but legacy implementation is kept until SCIFIO API stabilises
Plugins>pQCT, "Read Stratec File", sc.fiji.pQCT.Read_Stratec_File